.MuiSlider-track {
  border: none;
  background-color: #06f058 !important;
  /* filled bar */
}

.MuiSlider-thumb {
  height: 15px;
  width: 15px;
  background-color: #09a640 !important;
  /* circle */
}
.MuiSlider-rail {
  background-color: rgb(1, 92, 238);
}
.dark .MuiSlider-rail {
  background-color: rgb(119, 213, 76);
}

/* for dark theme */
.dark .MuiSlider-track {
  border: none;
  background-color: rgb(30, 198, 72) !important;
  /* filled bar */
}

.dark .MuiSlider-thumb {
  height: 15px;
  width: 15px;
  background-color: white !important;
  /* circle */
}

#player.fullMode {
  position: fixed;
  height: 100vh !important;
  width: 100vw;
  /* background-color: #000; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 2;
  /* background: url(./assets/music-background.mp4); */
}
#player.fullMode .video-background {
  position: fixed;
  height: 100vh !important;
  width: 100vw;
  /* background-color: #000; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  opacity: 1;
}

.fullMode .full-width {
  position: inherit;
}
.fullMode .full-width img {
  position: fixed;
  height: 38vh;
  width: 80vh;
  width: 17vw;
  min-width: 350px;
  height: 400px;
  /* top: 0; */
  bottom: 158px;
  right: 0;
  left: 58px;
  z-index: 1;
  opacity: 1;
  border-radius: 20px;
}
.fullMode .trackinfo div {
  position: fixed;
  bottom: 171px;
  left: 299px;
}
.fullMode .trackinfo div p span {
  color: white;
}
.fullMode .song-info {
  display: none;
}
#player.fullMode .previous-btn,
#player.fullMode .next-btn,
#player.fullMode .play-pause-btn,
#player.fullMode .open-full-icon {
  color: white;
  fill: white;
}

.fullMode .left .top {
  position: inherit;
  width: 90vw;
  z-index: 2;
  position: fixed;
  bottom: 28px;
  left: 60px;
}
.fullMode .left .sneekbar {
  position: inherit;
  position: fixed;
  width: 90vw;
  z-index: 2;
  bottom: 84px;
  left: 60px;
}

.fullMode .right {
  position: inherit;
  width: fit-content;
  width: -moz-fit-content;
  z-index: 2;
  bottom: 30px;
  right: 75px;

  /* By default, these divs will occupy the auto width columns */
}

#player.fullMode {
  color: white;
}
