@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #020214;
    color: rgb(226, 213, 213);
    font-size: 12px;
    font-family: Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic ProN, Meiryo, MS Gothic;
}

